services:

  api_gateway:
    build:
      context: .
      dockerfile: ./Dockerfile
    container_name: api_gateway
    restart: unless-stopped
    ports:
      - "3000:3000"  # Port principal pour l'API Gateway
    environment:
      - USER_SERVICE_URL=http://user_service:3001
      - FARM_SERVICE_URL=http://farm_service:3002
      - FRONTEND_SERVICE_URL=http://angular_app:4200
      - PORT=3000
    networks:
      - farmland_network
    volumes:
      - ./:/app
    working_dir: /app

networks:
  farmland_network:
    external: true