# Dependencies
node_modules
npm-debug.log

# Build outputs
dist

# IDE
.idea
.vscode
*.swp
*.swo

# Git
.git
.gitignore

# Docker
Dockerfile*
docker-compose*
.dockerignore

# Tests
coverage
*.spec.ts

# Misc
README.md
*.log
.env
.env.*
